$boardColor: #C9CEDA;
$riverColor: #57A3D8;
$castleColor: #809099;

$pieceSelectionColor: yellow;
$moveSelectionColor: red;

$playerOneColor: red;
$playerTwoColor: blue;

.board{
    p {
        margin: 0px;
    }
    margin-bottom: 20px;
    max-width:600px;
    max-height:600px;
    outline: black 2px solid;
    display: flex;
    flex-direction: column;
    * {
        flex-grow:1;
        flex-shrink:1;
        *{
            flex-grow:1;
            flex-shrink:1;
        }
    }
    .board_row {
        display: flex;
        flex-wrap:nowrap;
        .piece {
            padding:8px;
            font-size:30px;
            background: $boardColor;
            outline: black 1px solid;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            transition: .2s;
            cursor: pointer;
            &.player {
                span {
                    height:100%;
                    -moz-border-radius: 50%; /* or 50% */
                    border-radius: 50%; /* or 50% */
                    border: darken($boardColor, 30%) 7px solid;
                }
            }

            &.river {

                &.player {
                    span {
                        height:100%;
                        -moz-border-radius: 50%; /* or 50% */
                        border-radius: 50%; /* or 50% */
                        border: darken($riverColor, 30%) 7px solid;
                    }
                }
                background: $riverColor;
            }
            &.castle {
                &.player {
                    span {

                        height:100%;
                        -moz-border-radius: 50%; /* or 50% */
                        border-radius: 50%; /* or 50% */
                        border: darken($castleColor, 30%) 7px solid;
                    }
                }
                background: $castleColor;
            }
            &.selected {
                background: $pieceSelectionColor;
            }
            &.move {
                background:$moveSelectionColor;
            }

            &:hover {
                background: $pieceSelectionColor;
                &.desiredMoves{
                    background: $moveSelectionColor;
                }
            }

        }
    }
}
.buttons {
    * {
        margin:5px;
    }
}