$boardColor: #C9CEDA;//#AEC1CA; // #E9D4E2; // #E9D4E2;
$riverColor: #57A3D8; //61B0E6;//#58b9e0; // 57A3D8
$castleColor: #809099;//#C5A4DA;//#C5A4DA;

$pieceSelectionColor: yellow;
$moveSelectionColor: red;

$playerOneColor: red;
$playerTwoColor: blue;

.board{
    p {
        margin: 0px;
    }
    margin-bottom: 20px;
    max-width:600px;
    max-height:600px;
    outline: black 2px solid;
    display: flex;
    flex-direction: column;
    * {
        flex-grow:1;
        flex-shrink:1;
        *{
            flex-grow:1;
            flex-shrink:1;
        }
    }
    .board_row {
        display: flex;
        flex-wrap:nowrap;
        .piece {
            font-size:30px;
            background: $boardColor;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            outline: black 1px solid;
            transition: .2s;
            cursor: pointer;
            &.one {
                text-shadow: 2px 2px $playerOneColor;
            }
            &.two {
                text-shadow: 2px 2px $playerTwoColor;
            }
            &.river {
                background: $riverColor;
            }
            &.castle {
                background: $castleColor;
            }
            &.selected {
                background: $pieceSelectionColor;
            }
            &.move {
                background:$moveSelectionColor;
            }

            &:hover {
                background: $pieceSelectionColor;
                &.desiredMoves{
                    background: $moveSelectionColor;
                }
            }

        }
    }
}
.buttons {
    * {
        margin:5px;
    }
}