$boardColor: #58e07a;
$riverColor: #58b9e0;
$castleColor: #fffab0;

$pieceSelectionColor: yellow;
$moveSelectionColor: red;

.board{
    margin-bottom: 20px;
    max-width:600px;
    max-height:600px;
    outline: black 2px solid;
    display: flex;
    flex-direction: column;
    * {
        flex-grow:1;
        flex-shrink:1;
        *{
            flex-grow:1;
            flex-shrink:1;
        }
    }
    .board_row {
        display: flex;
        flex-wrap:nowrap;
        .piece {
            font-size:30px;
            background: $boardColor;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            outline: black 1px solid;
            transition: .2s;
            cursor: pointer;
            
            &.river {
                background: $riverColor;
            }
            &.castle {
                background: $castleColor;
            }
            &.selected {
                background: $pieceSelectionColor;
            }
            &.move {
                background:$moveSelectionColor;
            }

            &:hover {
                background: $pieceSelectionColor;
                &.desiredMoves{
                    background: $moveSelectionColor;
                }
            }

        }
    }
}
.buttons {
    * {
        margin:5px;
    }
}