@import "./variables";

#mygames {


  .btn {
    background-color: $buttonColor;
    text-align:center;
    border: 0px;
    height: 30px;
    &:hover {
      background-color: $buttonHoverColor;
    }
  }

  #wrapper {
    margin:auto;
    max-width: 600px;

  }
  #games {
    margin:20px;
    #subtitle {
      font-size: 25px;
      margin-bottom: 15px;
      border-bottom: $backgroundColor 3px solid;
    }
    #search_input {
      display: flex;
      * {
        height:30px;
        margin: 3px;
      }
      .btn {
        font-size:15px;
        padding:4px 8px;
      }
    }
    #game_data {
      display: flex;
      flex-direction: column;
      max-height: 200px;
      overflow-y:scroll;
      p {
        font-size: 14px;
        margin:4px;
      }
      .result {
        display: flex;
        justify-content: space-between;
        margin:3px;
        min-height: 30px;
        background-color: darken($foregroundColor, 10%);
        font-size: 15px;
        p {
          margin:auto 10px;
        }
        .game_buttons {
          display:flex;
          justify-content: flex-end;

          //float: right;
          margin:auto 10px auto auto;
          font-size:18px;
          transition: .3s;
          cursor: pointer;
          color: $buttonColor;
          &:hover {
            color: $buttonHoverColor;
          }
        }
      }
    }
  }


}



